/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 14, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* 960 Grid System ~ Core CSS.
 * Learn more ~ http://960.gs/
 * *
 * Licensed under GPL and MIT. */
/* line 14, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 10, ../../../app/stylesheets/grid.scss */
.container_12 {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}
/* line 33, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_12 .grid_1, .container_12 .grid_2, .container_12 .grid_3, .container_12 .grid_4, .container_12 .grid_5, .container_12 .grid_6, .container_12 .grid_7, .container_12 .grid_8, .container_12 .grid_9, .container_12 .grid_10, .container_12 .grid_11, .container_12 .grid_12 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}
/* line 36, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_12 .grid_1 {
  width: 60px;
}
/* line 36, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_12 .grid_2 {
  width: 140px;
}
/* line 36, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_12 .grid_3 {
  width: 220px;
}
/* line 36, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_12 .grid_4 {
  width: 300px;
}
/* line 36, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_12 .grid_5 {
  width: 380px;
}
/* line 36, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_12 .grid_6 {
  width: 460px;
}
/* line 36, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_12 .grid_7 {
  width: 540px;
}
/* line 36, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_12 .grid_8 {
  width: 620px;
}
/* line 36, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_12 .grid_9 {
  width: 700px;
}
/* line 36, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_12 .grid_10 {
  width: 780px;
}
/* line 36, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_12 .grid_11 {
  width: 860px;
}
/* line 36, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_12 .grid_12 {
  width: 940px;
}
/* line 44, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_12 .prefix_1 {
  padding-left: 80px;
}
/* line 44, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_12 .prefix_2 {
  padding-left: 160px;
}
/* line 44, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_12 .prefix_3 {
  padding-left: 240px;
}
/* line 44, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_12 .prefix_4 {
  padding-left: 320px;
}
/* line 44, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_12 .prefix_5 {
  padding-left: 400px;
}
/* line 44, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_12 .prefix_6 {
  padding-left: 480px;
}
/* line 44, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_12 .prefix_7 {
  padding-left: 560px;
}
/* line 44, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_12 .prefix_8 {
  padding-left: 640px;
}
/* line 44, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_12 .prefix_9 {
  padding-left: 720px;
}
/* line 44, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_12 .prefix_10 {
  padding-left: 800px;
}
/* line 44, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_12 .prefix_11 {
  padding-left: 880px;
}
/* line 52, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_12 .suffix_1 {
  padding-right: 80px;
}
/* line 52, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_12 .suffix_2 {
  padding-right: 160px;
}
/* line 52, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_12 .suffix_3 {
  padding-right: 240px;
}
/* line 52, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_12 .suffix_4 {
  padding-right: 320px;
}
/* line 52, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_12 .suffix_5 {
  padding-right: 400px;
}
/* line 52, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_12 .suffix_6 {
  padding-right: 480px;
}
/* line 52, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_12 .suffix_7 {
  padding-right: 560px;
}
/* line 52, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_12 .suffix_8 {
  padding-right: 640px;
}
/* line 52, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_12 .suffix_9 {
  padding-right: 720px;
}
/* line 52, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_12 .suffix_10 {
  padding-right: 800px;
}
/* line 52, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_12 .suffix_11 {
  padding-right: 880px;
}
/* line 56, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_12 .alpha {
  margin-left: 0;
}
/* line 58, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_12 .omega {
  margin-right: 0;
}
/* line 71, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_12 .push_1, .container_12 .push_2, .container_12 .push_3, .container_12 .push_4, .container_12 .push_5, .container_12 .push_6, .container_12 .push_7, .container_12 .push_8, .container_12 .push_9, .container_12 .push_10, .container_12 .push_11, .container_12 .push_12,
.container_12 .pull_1, .container_12 .pull_2, .container_12 .pull_3, .container_12 .pull_4, .container_12 .pull_5, .container_12 .pull_6, .container_12 .pull_7, .container_12 .pull_8, .container_12 .pull_9, .container_12 .pull_10, .container_12 .pull_11, .container_12 .pull_12 {
  position: relative;
}
/* line 75, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_12 .push_1 {
  left: 80px;
}
/* line 77, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_12 .pull_1 {
  left: -80px;
}
/* line 75, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_12 .push_2 {
  left: 160px;
}
/* line 77, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_12 .pull_2 {
  left: -160px;
}
/* line 75, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_12 .push_3 {
  left: 240px;
}
/* line 77, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_12 .pull_3 {
  left: -240px;
}
/* line 75, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_12 .push_4 {
  left: 320px;
}
/* line 77, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_12 .pull_4 {
  left: -320px;
}
/* line 75, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_12 .push_5 {
  left: 400px;
}
/* line 77, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_12 .pull_5 {
  left: -400px;
}
/* line 75, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_12 .push_6 {
  left: 480px;
}
/* line 77, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_12 .pull_6 {
  left: -480px;
}
/* line 75, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_12 .push_7 {
  left: 560px;
}
/* line 77, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_12 .pull_7 {
  left: -560px;
}
/* line 75, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_12 .push_8 {
  left: 640px;
}
/* line 77, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_12 .pull_8 {
  left: -640px;
}
/* line 75, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_12 .push_9 {
  left: 720px;
}
/* line 77, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_12 .pull_9 {
  left: -720px;
}
/* line 75, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_12 .push_10 {
  left: 800px;
}
/* line 77, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_12 .pull_10 {
  left: -800px;
}
/* line 75, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_12 .push_11 {
  left: 880px;
}
/* line 77, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_12 .pull_11 {
  left: -880px;
}
/* line 75, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_12 .push_12 {
  left: 960px;
}
/* line 77, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_12 .pull_12 {
  left: -960px;
}

/* line 14, ../../../app/stylesheets/grid.scss */
.container_16 {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}
/* line 33, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_16 .grid_1, .container_16 .grid_2, .container_16 .grid_3, .container_16 .grid_4, .container_16 .grid_5, .container_16 .grid_6, .container_16 .grid_7, .container_16 .grid_8, .container_16 .grid_9, .container_16 .grid_10, .container_16 .grid_11, .container_16 .grid_12, .container_16 .grid_13, .container_16 .grid_14, .container_16 .grid_15, .container_16 .grid_16 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}
/* line 36, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_16 .grid_1 {
  width: 40px;
}
/* line 36, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_16 .grid_2 {
  width: 100px;
}
/* line 36, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_16 .grid_3 {
  width: 160px;
}
/* line 36, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_16 .grid_4 {
  width: 220px;
}
/* line 36, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_16 .grid_5 {
  width: 280px;
}
/* line 36, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_16 .grid_6 {
  width: 340px;
}
/* line 36, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_16 .grid_7 {
  width: 400px;
}
/* line 36, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_16 .grid_8 {
  width: 460px;
}
/* line 36, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_16 .grid_9 {
  width: 520px;
}
/* line 36, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_16 .grid_10 {
  width: 580px;
}
/* line 36, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_16 .grid_11 {
  width: 640px;
}
/* line 36, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_16 .grid_12 {
  width: 700px;
}
/* line 36, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_16 .grid_13 {
  width: 760px;
}
/* line 36, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_16 .grid_14 {
  width: 820px;
}
/* line 36, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_16 .grid_15 {
  width: 880px;
}
/* line 36, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_16 .grid_16 {
  width: 940px;
}
/* line 44, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_16 .prefix_1 {
  padding-left: 60px;
}
/* line 44, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_16 .prefix_2 {
  padding-left: 120px;
}
/* line 44, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_16 .prefix_3 {
  padding-left: 180px;
}
/* line 44, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_16 .prefix_4 {
  padding-left: 240px;
}
/* line 44, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_16 .prefix_5 {
  padding-left: 300px;
}
/* line 44, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_16 .prefix_6 {
  padding-left: 360px;
}
/* line 44, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_16 .prefix_7 {
  padding-left: 420px;
}
/* line 44, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_16 .prefix_8 {
  padding-left: 480px;
}
/* line 44, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_16 .prefix_9 {
  padding-left: 540px;
}
/* line 44, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_16 .prefix_10 {
  padding-left: 600px;
}
/* line 44, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_16 .prefix_11 {
  padding-left: 660px;
}
/* line 44, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_16 .prefix_12 {
  padding-left: 720px;
}
/* line 44, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_16 .prefix_13 {
  padding-left: 780px;
}
/* line 44, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_16 .prefix_14 {
  padding-left: 840px;
}
/* line 44, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_16 .prefix_15 {
  padding-left: 900px;
}
/* line 52, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_16 .suffix_1 {
  padding-right: 60px;
}
/* line 52, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_16 .suffix_2 {
  padding-right: 120px;
}
/* line 52, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_16 .suffix_3 {
  padding-right: 180px;
}
/* line 52, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_16 .suffix_4 {
  padding-right: 240px;
}
/* line 52, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_16 .suffix_5 {
  padding-right: 300px;
}
/* line 52, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_16 .suffix_6 {
  padding-right: 360px;
}
/* line 52, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_16 .suffix_7 {
  padding-right: 420px;
}
/* line 52, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_16 .suffix_8 {
  padding-right: 480px;
}
/* line 52, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_16 .suffix_9 {
  padding-right: 540px;
}
/* line 52, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_16 .suffix_10 {
  padding-right: 600px;
}
/* line 52, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_16 .suffix_11 {
  padding-right: 660px;
}
/* line 52, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_16 .suffix_12 {
  padding-right: 720px;
}
/* line 52, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_16 .suffix_13 {
  padding-right: 780px;
}
/* line 52, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_16 .suffix_14 {
  padding-right: 840px;
}
/* line 52, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_16 .suffix_15 {
  padding-right: 900px;
}
/* line 56, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_16 .alpha {
  margin-left: 0;
}
/* line 58, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_16 .omega {
  margin-right: 0;
}
/* line 71, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_16 .push_1, .container_16 .push_2, .container_16 .push_3, .container_16 .push_4, .container_16 .push_5, .container_16 .push_6, .container_16 .push_7, .container_16 .push_8, .container_16 .push_9, .container_16 .push_10, .container_16 .push_11, .container_16 .push_12, .container_16 .push_13, .container_16 .push_14, .container_16 .push_15, .container_16 .push_16,
.container_16 .pull_1, .container_16 .pull_2, .container_16 .pull_3, .container_16 .pull_4, .container_16 .pull_5, .container_16 .pull_6, .container_16 .pull_7, .container_16 .pull_8, .container_16 .pull_9, .container_16 .pull_10, .container_16 .pull_11, .container_16 .pull_12, .container_16 .pull_13, .container_16 .pull_14, .container_16 .pull_15, .container_16 .pull_16 {
  position: relative;
}
/* line 75, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_16 .push_1 {
  left: 60px;
}
/* line 77, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_16 .pull_1 {
  left: -60px;
}
/* line 75, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_16 .push_2 {
  left: 120px;
}
/* line 77, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_16 .pull_2 {
  left: -120px;
}
/* line 75, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_16 .push_3 {
  left: 180px;
}
/* line 77, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_16 .pull_3 {
  left: -180px;
}
/* line 75, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_16 .push_4 {
  left: 240px;
}
/* line 77, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_16 .pull_4 {
  left: -240px;
}
/* line 75, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_16 .push_5 {
  left: 300px;
}
/* line 77, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_16 .pull_5 {
  left: -300px;
}
/* line 75, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_16 .push_6 {
  left: 360px;
}
/* line 77, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_16 .pull_6 {
  left: -360px;
}
/* line 75, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_16 .push_7 {
  left: 420px;
}
/* line 77, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_16 .pull_7 {
  left: -420px;
}
/* line 75, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_16 .push_8 {
  left: 480px;
}
/* line 77, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_16 .pull_8 {
  left: -480px;
}
/* line 75, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_16 .push_9 {
  left: 540px;
}
/* line 77, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_16 .pull_9 {
  left: -540px;
}
/* line 75, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_16 .push_10 {
  left: 600px;
}
/* line 77, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_16 .pull_10 {
  left: -600px;
}
/* line 75, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_16 .push_11 {
  left: 660px;
}
/* line 77, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_16 .pull_11 {
  left: -660px;
}
/* line 75, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_16 .push_12 {
  left: 720px;
}
/* line 77, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_16 .pull_12 {
  left: -720px;
}
/* line 75, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_16 .push_13 {
  left: 780px;
}
/* line 77, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_16 .pull_13 {
  left: -780px;
}
/* line 75, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_16 .push_14 {
  left: 840px;
}
/* line 77, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_16 .pull_14 {
  left: -840px;
}
/* line 75, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_16 .push_15 {
  left: 900px;
}
/* line 77, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_16 .pull_15 {
  left: -900px;
}
/* line 75, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_16 .push_16 {
  left: 960px;
}
/* line 77, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_grid.sass */
.container_16 .pull_16 {
  left: -960px;
}

/* line 22, ../../../app/stylesheets/grid.scss */
.two-column {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}
/* line 27, ../../../app/stylesheets/grid.scss */
.two-column #header,
.two-column #footer,
.two-column #sidebar,
.two-column #main-content {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}
/* line 30, ../../../app/stylesheets/grid.scss */
.two-column #header, .two-column #footer {
  width: 940px;
}
/* line 33, ../../../app/stylesheets/grid.scss */
.two-column #sidebar {
  width: 300px;
}
/* line 36, ../../../app/stylesheets/grid.scss */
.two-column #main-content {
  width: 620px;
}

/* colors */
/* 960 Grid System ~ Text CSS.
 * Learn more ~ http://960.gs/
 * *
 * Licensed under GPL and MIT. */
/* line 4, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_text.sass */
body {
  font: 13px/1.5 Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif;
}

/* line 6, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_text.sass */
a:focus {
  outline: 1px dotted invert;
}

/* line 8, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_text.sass */
hr {
  border-color: #cccccc;
  border-style: solid;
  border-width: 1px 0 0;
  clear: both;
  height: 0;
}

/* line 14, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_text.sass */
h1 {
  font-size: 25px;
}

/* line 16, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_text.sass */
h2 {
  font-size: 23px;
}

/* line 18, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_text.sass */
h3 {
  font-size: 21px;
}

/* line 20, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_text.sass */
h4 {
  font-size: 19px;
}

/* line 22, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_text.sass */
h5 {
  font-size: 17px;
}

/* line 24, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_text.sass */
h6 {
  font-size: 15px;
}

/* line 26, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_text.sass */
ol {
  list-style: decimal;
}

/* line 28, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_text.sass */
ul {
  list-style: square;
}

/* line 30, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_text.sass */
li {
  margin-left: 30px;
}

/* line 32, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.0/stylesheets/960/_text.sass */
p,
dl,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
pre,
table,
address,
fieldset {
  margin-bottom: 20px;
}

/* line 10, ../../../app/stylesheets/text.scss */
li {
  margin-left: 0;
}

/* line 14, ../../../app/stylesheets/text.scss */
fieldset {
  margin-bottom: 10px;
}

/* line 10, ../../../app/stylesheets/screen.scss */
#main ul {
  margin: 0;
  padding: 0;
}
/* line 13, ../../../app/stylesheets/screen.scss */
#main ul li {
  list-style-type: none;
  padding: 2px;
}

/* line 19, ../../../app/stylesheets/screen.scss */
.alt {
  background-color: #e9eaed !important;
}

/* line 23, ../../../app/stylesheets/screen.scss */
.clickable {
  cursor: pointer;
  cursor: hand;
}

/* edit icon for in place editing */
/* line 30, ../../../app/stylesheets/screen.scss */
.edit {
  padding: 4px 0 4px 26px;
  background: url("/images/icons/edit.png") no-repeat scroll 4px 6px transparent;
  cursor: pointer;
  cursor: hand;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
/* line 36, ../../../app/stylesheets/screen.scss */
.edit:hover {
  background-color: #F2F2F2;
}

/* line 42, ../../../app/stylesheets/screen.scss */
fieldset label {
  font-weight: bold;
}
/* line 45, ../../../app/stylesheets/screen.scss */
fieldset div {
  padding: 4px 0;
}

/* end edit icon for in place editing*/
/* 2 pane css */
/* line 52, ../../../app/stylesheets/screen.scss */
#container {
  width: 960px;
  margin: 0 auto;
  background-color: #fff;
  min-height: 500px;
}

/* right side of 2 pane below the sliding pane */
/* line 59, ../../../app/stylesheets/screen.scss */
.right {
  float: right;
  width: 470px;
}

/* left side of 2 pane that has clickable links */
/* line 64, ../../../app/stylesheets/screen.scss */
.left {
  float: left;
  background-color: #fff;
  width: 480px;
  min-height: 500px;
  position: relative;
  box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.4);
  z-index: 100;
}

/* line 73, ../../../app/stylesheets/screen.scss */
.block {
  border-bottom: dashed 1px #999;
  padding: 15px;
  border-right: solid 1px #999;
  cursor: pointer;
}

/* line 79, ../../../app/stylesheets/screen.scss */
.block:hover {
  background-color: #f8fcff;
}

/* line 82, ../../../app/stylesheets/screen.scss */
.block.active {
  background-color: #eef9ff;
}

/* line 85, ../../../app/stylesheets/screen.scss */
#panel-frame {
  position: absolute;
  max-width: 700px;
  top: 11.4em;
}

/* line 90, ../../../app/stylesheets/screen.scss */
#panel {
  background-color: #f2f2f2;
  width: 479px;
  height: 490px;
  margin-top: 0;
  position: relative;
  left: 0;
  box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.4);
  border-radius: 9px;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$opacity * 100)";
  /* IE 5-7 */
  filter: alpha(opacity=0);
  /* Netscape */
  -moz-opacity: 0;
  /* Safari 1.x */
  -khtml-opacity: 0;
  /* Good browsers */
  opacity: 0;
}

/* line 101, ../../../app/stylesheets/screen.scss */
.data {
  padding-left: 18px;
}

/* line 104, ../../../app/stylesheets/screen.scss */
.head {
  background-color: #eef9ff;
  padding: 10px;
  text-align: right;
  -webkit-border-top-right-radius: 9px;
  -moz-border-radius-topright: 9px;
  border-top-right-radius: 9px;
}

/* sync products table */
/* line 115, ../../../app/stylesheets/screen.scss */
.products input[type="checkbox"], .products input[type="radio"] {
  margin: 3px;
  float: left;
}
/* line 119, ../../../app/stylesheets/screen.scss */
.products ul {
  margin: 0;
  padding: 0 !important;
}
/* line 122, ../../../app/stylesheets/screen.scss */
.products ul li {
  margin: 0;
  padding: 0 !important;
  clear: both;
}
/* line 126, ../../../app/stylesheets/screen.scss */
.products ul li input[type="checkbox"], .products ul li .products input[type="radio"] {
  margin-right: 23px;
}

/* line 132, ../../../app/stylesheets/screen.scss */
.progress {
  position: relative;
  display: block;
  height: 16px;
  display: block !important;
}

/* end sync products */
/* content locker custom css */
/* line 141, ../../../app/stylesheets/screen.scss */
.shadowbox {
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.2);
  padding: 0.5em;
  margin-bottom: 1em;
  border: 1px solid #D9D9D9;
  min-height: 100px;
}
/* line 147, ../../../app/stylesheets/screen.scss */
.shadowbox ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
/* line 151, ../../../app/stylesheets/screen.scss */
.shadowbox ul li {
  margin: 0;
}

/* line 156, ../../../app/stylesheets/screen.scss */
.content_add_remove_product {
  cursor: pointer;
  cursor: hand;
  margin-right: 5px;
  width: 40px;
  text-align: center;
}

/* line 163, ../../../app/stylesheets/screen.scss */
.remove_product {
  background: -moz-linear-gradient(top, #cccccc, #bbbbbb, #aaaaaa, #999999);
  background: -webkit-gradient(linear, left top, left bottom, from(#cccccc), color-stop(0.9, #bbbbbb), to(#999999));
}

/* line 167, ../../../app/stylesheets/screen.scss */
.add_product {
  background: -moz-linear-gradient(top, white, #f0f0f0, #e5e5e5, #e9e9e9);
  background: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(0.9, #e5e5e5), to(#e9e9e9));
}

/* line 171, ../../../app/stylesheets/screen.scss */
.changeset_remove_product {
  float: left;
  padding: 5px;
  display: block;
  margin: 3px;
  border: 1px solid transparent;
}
/* line 177, ../../../app/stylesheets/screen.scss */
.changeset_remove_product:hover {
  background-color: #F2F2F2;
  border-color: #a5a5a5;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

/* line 184, ../../../app/stylesheets/screen.scss */
.breadcrumb {
  list-style: none;
  overflow: hidden;
  font: 14px;
}
/* line 188, ../../../app/stylesheets/screen.scss */
.breadcrumb li {
  float: left;
  margin-left: 0;
}
/* line 191, ../../../app/stylesheets/screen.scss */
.breadcrumb li a {
  color: #000;
  text-decoration: none;
  padding: 8px 0 8px 55px;
  background: #E9E9E6;
  /* fallback color */
  background: #E9E9E6;
  position: relative;
  display: block;
  float: left;
}
/* line 200, ../../../app/stylesheets/screen.scss */
.breadcrumb li a:after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  /* Go big on the size, and let overflow hide */
  border-bottom: 50px solid transparent;
  border-left: 30px solid #E9E9E6;
  position: absolute;
  top: 50%;
  margin-top: -50px;
  left: 100%;
  z-index: 2;
}
/* line 214, ../../../app/stylesheets/screen.scss */
.breadcrumb li a:before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  /* Go big on the size, and let overflow hide */
  border-bottom: 50px solid transparent;
  border-left: 30px solid white;
  position: absolute;
  top: 50%;
  margin-top: -50px;
  margin-left: 1px;
  left: 100%;
  z-index: 1;
}

/* line 232, ../../../app/stylesheets/screen.scss */
.breadcrumb li:first-child a {
  padding-left: 20px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
  -moz-text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
  -webkit-text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-topleft: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

/* line 237, ../../../app/stylesheets/screen.scss */
.breadcrumb li:nth-child(2) a {
  background: #E9E9E6;
}
/* line 239, ../../../app/stylesheets/screen.scss */
.breadcrumb li:nth-child(2) a:after {
  border-left-color: #E9E9E6;
}

/* line 241, ../../../app/stylesheets/screen.scss */
.breadcrumb li:last-child a {
  background: #E9E9E6 !important;
  padding-right: 30px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-topright: 5px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}
/* line 245, ../../../app/stylesheets/screen.scss */
.breadcrumb li:last-child a:hover {
  color: #FFF;
  background: #7DA6D3 !important;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
  -moz-text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
  -webkit-text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
}
/* line 250, ../../../app/stylesheets/screen.scss */
.breadcrumb li:last-child a:after {
  border: 0;
}
/* line 252, ../../../app/stylesheets/screen.scss */
.breadcrumb li:last-child a:after:hover {
  border-left-color: #7DA6D3 !important;
}

/* line 257, ../../../app/stylesheets/screen.scss */
.breadcrumb li a:hover {
  background: #7DA6D3;
  color: #FFF;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
  -moz-text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
  -webkit-text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
}
/* line 259, ../../../app/stylesheets/screen.scss */
.breadcrumb li a:hover:after {
  border-left-color: #7DA6D3 !important;
}

/* line 263, ../../../app/stylesheets/screen.scss */
.breadcrumb li a.active {
  background: #7DA6D3;
  color: white;
}
/* line 265, ../../../app/stylesheets/screen.scss */
.breadcrumb li a.active:after {
  border-left-color: #7DA6D3 !important;
}

/* end content locker custom css */
