= include_javascripts :systems
= include_javascripts :treetable
.grid_16
  -# TODO put back in the system systats and the last checkin date
  = two_panel(@systems,
  :title => _('Systems'), 
  :name => _('system'), 
  :col => ['name', 'entitlementCount', 'entitlement_status'], 
  :enable_create => true)