%ul.container_16
  - if current_user
    %li
      %a{ :href => "/logout"}
        #{_("Logout")}
  %li 
    #{_("Copyright &copy; ")}
    :javascript
      document.write( (new Date()).getFullYear() );
    #{("Red Hat, Inc.")}
