.grid_3
  %a{:href => '/dashboard', :class => "fl"}
    %img{:src => '/images/rh_logo.png'}
    %img.kp{:src => '/images/nav_pipe.png'}
    %h1 Headpin
  #loading.fr
    %img{:src => '/images/spinner_head.gif'}
.grid_13
  - if current_user
    %div.org
      = render :partial => '/layouts/org'
  %ul
    %li.hello
      = link_to account_path do
        - if current_user
          %b
            = current_user
          %li.logout
            %a{ :href => "/logout"}
              #{_("Logout")}
