%div{:style => 'display: none;'}
  - if flash[:error]
    - flash[:error].each do |error|
      .error= error
  - if flash[:warning]
    - flash[:warning].each do |warning|
      .warning= warning
  - if flash[:notice]
    - flash[:notice].each do |notice|
      .notice= notice
