:javascript
  $(function() {
    $('select#workingorgmenu').selectmenu({style:'dropdown', width:200});
  });

.grid_4
  = form_tag '/admin/organizations/use' do
    %select{ :name => "workingorg", :id => "workingorgmenu", :onChange => "this.form.submit()" }
      - @visible_orgs.each do |org|
        %option{ :selected => (!working_org.nil? and working_org.key == org.key) }
          = org.key

