- unless working_org.nil?
  :javascript
    $(function() {
      $('select#workingorgmenu').selectmenu({style:'dropdown', width:200});
    });
  %form
    %select{ :name => "workingorgmenu", :id => "workingorgmenu" }
      %option Hello
      %option World


  /
    %button{:class=>"linkbutton grid_4", :onClick=>"location.href='#{admin_organization_path(working_org)}';return false"} #{working_org.displayName}
